Repository gecut/persianpart, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, enhancement, test, demo, ui, core, apps, api, pwa

.github/labeler.yml:

documentation:
  - any:
      - '**/*.md'

enhancement:
  - any:
      - '**/*.ts'

test:
  - any:
      - '**/*.spec.ts'

demo:
  - apps/demo/*
  - apps/demo/**/*

ui:
  - packages/ui/*
  - packages/ui/**/*
core:
  - packages/core/*
  - packages/core/**/*

apps:
  - apps/*
  - apps/**/*
  - apps/**/**/*
api:
  - apps/*-api/*
  - apps/*-api/**/*
pwa:
  - apps/*-pwa/*
  - apps/*-pwa/**/*

c
  .github/workflows/deployment.yml
Labels: none

c
  apps/persianpart-pwa/src/client.ts
Labels: enhancement, apps, pwa

c
  apps/persianpart-api/src/libs/db.ts
Labels: enhancement, apps, api

c
  apps/persianpart-api/src/libs/db.ts
Labels: enhancement, apps, api

c
  apps/persianpart-api/src/libs/db.ts
Labels: enhancement, apps, api

Add files via upload
  apps/persianpart-pwa/public/images/1220525.jpeg
  apps/persianpart-pwa/public/images/1220660.jpeg
  apps/persianpart-pwa/public/images/1220669.jpeg
Labels: apps, pwa

Add files via upload
  apps/persianpart-pwa/public/images/1220693.jpeg
  apps/persianpart-pwa/public/images/1220695.jpeg
Labels: apps, pwa

Add files via upload
  apps/persianpart-pwa/public/images/1220529.jpeg
  apps/persianpart-pwa/public/images/1220554.jpeg
  apps/persianpart-pwa/public/images/1220653.jpeg
  apps/persianpart-pwa/public/images/1220655.jpeg
  apps/persianpart-pwa/public/images/1220657.jpeg
  apps/persianpart-pwa/public/images/1220662.jpeg
Labels: apps, pwa

Add files via upload
  apps/persianpart-pwa/public/images/1220688.jpeg
Labels: apps, pwa

Add files via upload
  apps/persianpart-pwa/public/images/1222100.jpeg
  apps/persianpart-pwa/public/images/1222101.jpeg
Labels: apps, pwa

c
  apps/persianpart-api/src/libs/db.ts
Labels: enhancement, apps, api

Add files via upload
  apps/persianpart-pwa/public/images/1222001.jpeg
  apps/persianpart-pwa/public/images/1222002.jpeg
  apps/persianpart-pwa/public/images/1222003.jpeg
  apps/persianpart-pwa/public/images/1222004.jpeg
  apps/persianpart-pwa/public/images/1222006.jpeg
  apps/persianpart-pwa/public/images/1222007.jpeg
  apps/persianpart-pwa/public/images/1222100.jpeg
  apps/persianpart-pwa/public/images/1222200.jpeg
  apps/persianpart-pwa/public/images/1222201.jpeg
  apps/persianpart-pwa/public/images/1222202.jpeg
  apps/persianpart-pwa/public/images/1222203.jpeg
  apps/persianpart-pwa/public/images/1222204.jpeg
  apps/persianpart-pwa/public/images/1222205.jpeg
  apps/persianpart-pwa/public/images/1222206.jpeg
  apps/persianpart-pwa/public/images/1222300.jpeg
  apps/persianpart-pwa/public/images/1222301.jpeg
  apps/persianpart-pwa/public/images/1222302.jpeg
  apps/persianpart-pwa/public/images/1222303.jpeg
  apps/persianpart-pwa/public/images/1222304.jpeg
  apps/persianpart-pwa/public/images/1222305.jpeg
  apps/persianpart-pwa/public/images/1222400.jpeg
  apps/persianpart-pwa/public/images/1222401.jpeg
Labels: apps, pwa

c
  apps/persianpart-pwa/public/images/1220050.jpEg
  apps/persianpart-pwa/public/images/1220295.jpEg
  apps/persianpart-pwa/public/images/1220318.jpEg
  apps/persianpart-pwa/public/images/1220407.jpg
  apps/persianpart-pwa/public/images/1220415.jpEg
  apps/persianpart-pwa/public/images/1220418.jpEg
  apps/persianpart-pwa/public/images/1220431.jpg
  apps/persianpart-pwa/public/images/1220534.jpg
  apps/persianpart-pwa/public/images/1220559.jpEg
  apps/persianpart-pwa/public/images/1220562.jpEg
  apps/persianpart-pwa/public/images/1220593.jpEg
  apps/persianpart-pwa/public/images/1220621.jpEg
  apps/persianpart-pwa/public/images/1220653.JPEG
  apps/persianpart-pwa/public/images/1220655.JPEG
  apps/persianpart-pwa/public/images/1220657.JPEG
Labels: apps, pwa

Add files via upload
  apps/persianpart-pwa/public/images/1220529.jpeg
  apps/persianpart-pwa/public/images/1220554.jpeg
  apps/persianpart-pwa/public/images/1220653.jpeg
  apps/persianpart-pwa/public/images/1220655.jpeg
  apps/persianpart-pwa/public/images/1220657.jpeg
  apps/persianpart-pwa/public/images/1220662.jpeg
Labels: apps, pwa

Add files via upload
  apps/persianpart-pwa/public/images/1220525.jpeg
  apps/persianpart-pwa/public/images/1220660.jpeg
  apps/persianpart-pwa/public/images/1220669.jpeg
Labels: apps, pwa

Add files via upload
  apps/persianpart-pwa/public/images/1220688.jpeg
Labels: apps, pwa

c
  apps/persianpart-pwa/public/images/1220050.jpEg
  apps/persianpart-pwa/public/images/1220295.jpEg
  apps/persianpart-pwa/public/images/1220318.jpEg
  apps/persianpart-pwa/public/images/1220407.jpg
  apps/persianpart-pwa/public/images/1220415.jpEg
  apps/persianpart-pwa/public/images/1220418.jpEg
  apps/persianpart-pwa/public/images/1220431.jpg
  apps/persianpart-pwa/public/images/1220534.jpg
  apps/persianpart-pwa/public/images/1220559.jpEg
  apps/persianpart-pwa/public/images/1220562.jpEg
  apps/persianpart-pwa/public/images/1220593.jpEg
  apps/persianpart-pwa/public/images/1220621.jpEg
  apps/persianpart-pwa/public/images/1220653.JPEG
  apps/persianpart-pwa/public/images/1220655.JPEG
  apps/persianpart-pwa/public/images/1220657.JPEG
Labels: apps, pwa

Add files via upload
  apps/persianpart-pwa/public/images/1222001.jpeg
  apps/persianpart-pwa/public/images/1222002.jpeg
  apps/persianpart-pwa/public/images/1222003.jpeg
  apps/persianpart-pwa/public/images/1222004.jpeg
  apps/persianpart-pwa/public/images/1222006.jpeg
  apps/persianpart-pwa/public/images/1222007.jpeg
  apps/persianpart-pwa/public/images/1222100.jpeg
  apps/persianpart-pwa/public/images/1222200.jpeg
  apps/persianpart-pwa/public/images/1222201.jpeg
  apps/persianpart-pwa/public/images/1222202.jpeg
  apps/persianpart-pwa/public/images/1222203.jpeg
  apps/persianpart-pwa/public/images/1222204.jpeg
  apps/persianpart-pwa/public/images/1222205.jpeg
  apps/persianpart-pwa/public/images/1222206.jpeg
  apps/persianpart-pwa/public/images/1222300.jpeg
  apps/persianpart-pwa/public/images/1222301.jpeg
  apps/persianpart-pwa/public/images/1222302.jpeg
  apps/persianpart-pwa/public/images/1222303.jpeg
  apps/persianpart-pwa/public/images/1222304.jpeg
  apps/persianpart-pwa/public/images/1222305.jpeg
  apps/persianpart-pwa/public/images/1222400.jpeg
  apps/persianpart-pwa/public/images/1222401.jpeg
Labels: apps, pwa

Add files via upload
  apps/persianpart-pwa/public/images/1220693.jpeg
  apps/persianpart-pwa/public/images/1220695.jpeg
Labels: apps, pwa

Add files via upload
  apps/persianpart-pwa/public/images/1222100.jpeg
  apps/persianpart-pwa/public/images/1222101.jpeg
Labels: apps, pwa

Add files via upload
  apps/persianpart-pwa/public/images/1220663.jpeg
  apps/persianpart-pwa/public/images/1220713.jpeg
  apps/persianpart-pwa/public/images/1220714.jpeg
Labels: apps, pwa

Add files via upload
  apps/persianpart-pwa/1222008.jpeg
  apps/persianpart-pwa/1222009.jpeg
  apps/persianpart-pwa/1222010.jpeg
Labels: apps, pwa

Add files via upload
  apps/persianpart-pwa/public/images/1220032.jpg
  apps/persianpart-pwa/public/images/1220586.jpg
  apps/persianpart-pwa/public/images/1220616.jpg
  apps/persianpart-pwa/public/images/1220729.jpg
  apps/persianpart-pwa/public/images/1220731.jpg
  apps/persianpart-pwa/public/images/1220732.jpg
  apps/persianpart-pwa/public/images/1220734.jpg
  apps/persianpart-pwa/public/images/1220737.jpg
  apps/persianpart-pwa/public/images/1220738.jpg
Labels: apps, pwa

Add files via upload
  apps/persianpart-pwa/public/images/1222008.jpeg
  apps/persianpart-pwa/public/images/1222009.jpeg
  apps/persianpart-pwa/public/images/1222010.jpeg
Labels: apps, pwa

Add files via upload
  apps/persianpart-pwa/public/images/1220032.jpeg
  apps/persianpart-pwa/public/images/1220586.jpeg
  apps/persianpart-pwa/public/images/1220616.jpeg
  apps/persianpart-pwa/public/images/1220729.jpeg
  apps/persianpart-pwa/public/images/1220731.jpeg
  apps/persianpart-pwa/public/images/1220732.jpeg
  apps/persianpart-pwa/public/images/1220734.jpeg
  apps/persianpart-pwa/public/images/1220737.jpeg
  apps/persianpart-pwa/public/images/1220738.jpeg
Labels: apps, pwa

Update client.ts
  apps/persianpart-pwa/src/client.ts
Labels: enhancement, apps, pwa

Update client.ts
  apps/persianpart-pwa/src/client.ts
Labels: enhancement, apps, pwa

Update client.ts
  apps/persianpart-pwa/src/client.ts
Labels: enhancement, apps, pwa

Update order.ts
  apps/persianpart-api/src/routes/order.ts
Labels: enhancement, apps, api

Add files via upload
  apps/persianpart-pwa/public/images/1220076.jpeg
  apps/persianpart-pwa/public/images/1220337.jpeg
  apps/persianpart-pwa/public/images/1220459.jpeg
  apps/persianpart-pwa/public/images/1220460.jpeg
  apps/persianpart-pwa/public/images/1220469.jpeg
  apps/persianpart-pwa/public/images/1220470.jpeg
  apps/persianpart-pwa/public/images/1220478.jpeg
  apps/persianpart-pwa/public/images/1220535.jpeg
  apps/persianpart-pwa/public/images/1220538.jpeg
  apps/persianpart-pwa/public/images/1220608.jpeg
  apps/persianpart-pwa/public/images/1220728.jpeg
  apps/persianpart-pwa/public/images/1220730.jpeg
  apps/persianpart-pwa/public/images/1220733.jpeg
  apps/persianpart-pwa/public/images/1220734.jpeg
  apps/persianpart-pwa/public/images/1220739.jpeg
  apps/persianpart-pwa/public/images/1220740.jpeg
  apps/persianpart-pwa/public/images/1220741.jpeg
  apps/persianpart-pwa/public/images/1220742.jpeg
  apps/persianpart-pwa/public/images/1220743.jpeg
  apps/persianpart-pwa/public/images/1220744.jpeg
  apps/persianpart-pwa/public/images/1220745.jpeg
  apps/persianpart-pwa/public/images/1220746.jpeg
  apps/persianpart-pwa/public/images/1220748.jpeg
  apps/persianpart-pwa/public/images/1220751.jpeg
  apps/persianpart-pwa/public/images/12340101.jpeg
  apps/persianpart-pwa/public/images/12340127.jpeg
  apps/persianpart-pwa/public/images/1237058.jpeg
Labels: apps, pwa

Add files via upload
  apps/persianpart-pwa/public/images/1220432.jpeg
  apps/persianpart-pwa/public/images/1237059.jpag
Labels: apps, pwa

c
  apps/persianpart-pwa/public/images/1220598.jpeg
  apps/persianpart-pwa/public/images/1220601.jpeg
  apps/persianpart-pwa/public/images/1220664.jpeg
  apps/persianpart-pwa/public/images/1220749.jpeg
  apps/persianpart-pwa/public/images/1220750.jpeg
  apps/persianpart-pwa/public/images/1220754.jpeg
  apps/persianpart-pwa/public/images/1220755.jpeg
  apps/persianpart-pwa/public/images/1220757.jpeg
  apps/persianpart-pwa/public/images/1220759.jpeg
  apps/persianpart-pwa/public/images/1220765.jpeg
  apps/persianpart-pwa/public/images/1220766.jpeg
  apps/persianpart-pwa/public/images/1220767.jpeg
  apps/persianpart-pwa/public/images/1220768.jpeg
  apps/persianpart-pwa/public/images/1220769.jpeg
  apps/persianpart-pwa/public/images/1221101.jpeg
  apps/persianpart-pwa/public/images/1221102.jpeg
  apps/persianpart-pwa/public/images/1221103.jpeg
  apps/persianpart-pwa/public/images/1221104.jpeg
  apps/persianpart-pwa/public/images/1221105.jpeg
  apps/persianpart-pwa/public/images/1221106.jpeg
  apps/persianpart-pwa/public/images/1221107.jpeg
  apps/persianpart-pwa/public/images/1221108.jpeg
  apps/persianpart-pwa/public/images/1221109.jpeg
  apps/persianpart-pwa/public/images/1221110.jpeg
Labels: apps, pwa

Add files via upload
  apps/persianpart-pwa/public/images/1220297.jpeg
  apps/persianpart-pwa/public/images/1220343.jpeg
  apps/persianpart-pwa/public/images/1220717.jpeg
  apps/persianpart-pwa/public/images/1220773.jpeg
  apps/persianpart-pwa/public/images/1221120.jpeg
  apps/persianpart-pwa/public/images/1221123.jpeg
Labels: apps, pwa
