Repository gecut/persianpart, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, enhancement, test, demo, ui, core, apps, api, pwa

ci
  .github/workflows/deployment.yml
Labels: none

ci
  .github/workflows/deployment.yml
Labels: none

fix
  apps/persianpart-pwa/src/client.ts
Labels: enhancement, apps, pwa

[ImgBot] Optimize images
  apps/persianpart-pwa/public/images/1220291.jpg
  apps/persianpart-pwa/public/images/1220294.jpeg
  apps/persianpart-pwa/public/images/1220299.jpeg
  apps/persianpart-pwa/public/images/1220319.jpg
  apps/persianpart-pwa/public/images/122032.jpeg
  apps/persianpart-pwa/public/images/1220333.jpeg
  apps/persianpart-pwa/public/images/1220361.jpeg
  apps/persianpart-pwa/public/images/1220380.jpeg
  apps/persianpart-pwa/public/images/1220385.jpeg
  apps/persianpart-pwa/public/images/1220398.jpeg
  apps/persianpart-pwa/public/images/1220400.jpeg
  apps/persianpart-pwa/public/images/1220407.jpg
  apps/persianpart-pwa/public/images/1220408.jpeg
  apps/persianpart-pwa/public/images/1220431.jpeg
  apps/persianpart-pwa/public/images/1220435.jpeg
  apps/persianpart-pwa/public/images/1220473.jpeg
  apps/persianpart-pwa/public/images/1220534.jpg
  apps/persianpart-pwa/public/images/1220910.jpeg
  apps/persianpart-pwa/public/images/1220914.jpeg
  apps/persianpart-pwa/public/images/1220916.jpeg
  apps/persianpart-pwa/public/images/1220917.jpeg
Labels: apps, pwa

images
  apps/persianpart-pwa/public/images/1220291.jpg
  apps/persianpart-pwa/public/images/1220299.jpg
  apps/persianpart-pwa/public/images/1220319.jpg
  apps/persianpart-pwa/public/images/1220400.jpg
  apps/persianpart-pwa/public/images/1220407.jpg
  apps/persianpart-pwa/public/images/1220431.jpg
  apps/persianpart-pwa/src/ui/pages/settings/settings.page.ts
  apps/persianpart-pwa/vite.config.ts
Labels: enhancement, apps, pwa

images
  apps/persianpart-pwa/public/images/1220046.jpeg
  apps/persianpart-pwa/public/images/1220179.jpeg
  apps/persianpart-pwa/public/images/1220293.jpeg
  apps/persianpart-pwa/public/images/1220294.jpeg
  apps/persianpart-pwa/public/images/1220299.jpeg
  apps/persianpart-pwa/public/images/122032.jpeg
  apps/persianpart-pwa/public/images/1220333.jpeg
  apps/persianpart-pwa/public/images/1220353.jpeg
  apps/persianpart-pwa/public/images/1220354.jpeg
  apps/persianpart-pwa/public/images/1220355.jpeg
  apps/persianpart-pwa/public/images/1220361.jpeg
  apps/persianpart-pwa/public/images/1220377.jpeg
  apps/persianpart-pwa/public/images/1220380.jpeg
  apps/persianpart-pwa/public/images/1220385.jpeg
  apps/persianpart-pwa/public/images/1220386.jpeg
  apps/persianpart-pwa/public/images/1220398.jpeg
  apps/persianpart-pwa/public/images/1220400.jpeg
  apps/persianpart-pwa/public/images/1220408.jpeg
  apps/persianpart-pwa/public/images/1220409.jpeg
  apps/persianpart-pwa/public/images/1220414.jpeg
  apps/persianpart-pwa/public/images/1220429.jpeg
  apps/persianpart-pwa/public/images/1220431.jpeg
  apps/persianpart-pwa/public/images/1220435.jpeg
  apps/persianpart-pwa/public/images/1220473.jpeg
  apps/persianpart-pwa/public/images/1220487.jpeg
  apps/persianpart-pwa/public/images/1220490.jpeg
  apps/persianpart-pwa/public/images/1220494.jpeg
  apps/persianpart-pwa/public/images/1220534.jpg
  apps/persianpart-pwa/public/images/1220910.jpeg
  apps/persianpart-pwa/public/images/1220914.jpeg
  apps/persianpart-pwa/public/images/1220916.jpeg
  apps/persianpart-pwa/public/images/1220917.jpeg
  apps/persianpart-pwa/public/images/1220918.jpeg
  apps/persianpart-pwa/public/images/1220919.jpeg
  apps/persianpart-pwa/public/images/12365.jpeg
Labels: apps, pwa

images
  apps/persianpart-pwa/public/images/1220291.jpeg
  apps/persianpart-pwa/public/images/1220319.jpeg
  apps/persianpart-pwa/public/images/1220407.jpeg
  apps/persianpart-pwa/public/images/1220534.jpeg
Labels: apps, pwa

Add files via upload
  apps/persianpart-pwa/public/images/1220359.jpg
  apps/persianpart-pwa/public/images/1220360.jpg
  apps/persianpart-pwa/public/images/1220378.jpg
  apps/persianpart-pwa/public/images/1220416.jpg
  apps/persianpart-pwa/public/images/1220440.jpg
  apps/persianpart-pwa/public/images/1220464.jpg
  apps/persianpart-pwa/public/images/1220514.jpg
  apps/persianpart-pwa/public/images/1220548.jpg
  apps/persianpart-pwa/public/images/1220551.jpg
  apps/persianpart-pwa/public/images/1220603.jpg
  apps/persianpart-pwa/public/images/1220618.jpg
  apps/persianpart-pwa/public/images/1220620.jpg
  apps/persianpart-pwa/public/images/1220650.jpg
  apps/persianpart-pwa/public/images/1220651.jpg
Labels: apps, pwa

init
  apps/persianpart-pwa/public/images/1220359.jpeg
  apps/persianpart-pwa/public/images/1220360.jpeg
  apps/persianpart-pwa/public/images/1220378.jpeg
  apps/persianpart-pwa/public/images/1220416.jpeg
  apps/persianpart-pwa/public/images/1220440.jpeg
  apps/persianpart-pwa/public/images/1220464.jpeg
  apps/persianpart-pwa/public/images/1220514.jpeg
  apps/persianpart-pwa/public/images/1220548.jpeg
  apps/persianpart-pwa/public/images/1220551.jpeg
  apps/persianpart-pwa/public/images/1220603.jpeg
  apps/persianpart-pwa/public/images/1220618.jpeg
  apps/persianpart-pwa/public/images/1220620.jpeg
  apps/persianpart-pwa/public/images/1220650.jpeg
  apps/persianpart-pwa/public/images/1220651.jpeg
Labels: apps, pwa

Add files via upload
  apps/persianpart-pwa/public/images/1220619.jpeg
  apps/persianpart-pwa/public/images/1220649.jpeg
Labels: apps, pwa

Add files via upload
  apps/persianpart-pwa/public/images/1220600.jpeg
Labels: apps, pwa

Add files via upload
  apps/persianpart-pwa/public/images/1220492.jpeg
Labels: apps, pwa

[ImgBot] Optimize images
  apps/persianpart-pwa/public/images/1220294.jpeg
  apps/persianpart-pwa/public/images/122032.jpeg
  apps/persianpart-pwa/public/images/1220333.jpeg
  apps/persianpart-pwa/public/images/1220359.jpeg
  apps/persianpart-pwa/public/images/1220360.jpeg
  apps/persianpart-pwa/public/images/1220378.jpeg
  apps/persianpart-pwa/public/images/1220398.jpeg
  apps/persianpart-pwa/public/images/1220408.jpeg
  apps/persianpart-pwa/public/images/1220416.jpeg
  apps/persianpart-pwa/public/images/1220440.jpeg
  apps/persianpart-pwa/public/images/1220464.jpeg
  apps/persianpart-pwa/public/images/1220534.jpeg
  apps/persianpart-pwa/public/images/1220534.jpg
  apps/persianpart-pwa/public/images/1220548.jpeg
  apps/persianpart-pwa/public/images/1220551.jpeg
  apps/persianpart-pwa/public/images/1220600.jpeg
  apps/persianpart-pwa/public/images/1220618.jpeg
  apps/persianpart-pwa/public/images/1220619.jpeg
  apps/persianpart-pwa/public/images/1220620.jpeg
  apps/persianpart-pwa/public/images/1220649.jpeg
  apps/persianpart-pwa/public/images/1220650.jpeg
  apps/persianpart-pwa/public/images/1220651.jpeg
  apps/persianpart-pwa/public/images/1220910.jpeg
Labels: apps, pwa

Add files via upload
  apps/persianpart-pwa/public/images/1220050.jpEg
  apps/persianpart-pwa/public/images/1220295.jpEg
  apps/persianpart-pwa/public/images/1220318.jpEg
  apps/persianpart-pwa/public/images/1220415.jpEg
  apps/persianpart-pwa/public/images/1220418.jpEg
  apps/persianpart-pwa/public/images/1220559.jpEg
  apps/persianpart-pwa/public/images/1220562.jpEg
  apps/persianpart-pwa/public/images/1220593.jpEg
  apps/persianpart-pwa/public/images/1220621.jpEg
Labels: apps, pwa

Add files via upload
  apps/persianpart-pwa/public/images/1220418.jpeg
Labels: apps, pwa

Add files via upload
  apps/persianpart-pwa/public/images/1220050.jpeg
  apps/persianpart-pwa/public/images/1220295.jpeg
  apps/persianpart-pwa/public/images/1220318.jpeg
  apps/persianpart-pwa/public/images/1220415.jpeg
  apps/persianpart-pwa/public/images/1220559.jpeg
  apps/persianpart-pwa/public/images/1220562.jpeg
  apps/persianpart-pwa/public/images/1220593.jpeg
  apps/persianpart-pwa/public/images/1220621.jpeg
Labels: apps, pwa

Add files via upload
  apps/persianpart-pwa/public/images/1220652.jpeg
Labels: apps, pwa

Add files via upload
  apps/persianpart-pwa/public/images/1220291.jpeg
  apps/persianpart-pwa/public/images/1220319.jpeg
Labels: apps, pwa

Add files via upload
  apps/persianpart-pwa/public/images/1220657.JPEG
Labels: apps, pwa

Add files via upload
  apps/persianpart-pwa/public/images/1220655.JPEG
Labels: apps, pwa

Add files via upload
  apps/persianpart-pwa/public/images/1220653.JPEG
Labels: apps, pwa

[ImgBot] Optimize images
  apps/persianpart-pwa/public/images/1220294.jpeg
  apps/persianpart-pwa/public/images/1220319.jpeg
  apps/persianpart-pwa/public/images/122032.jpeg
  apps/persianpart-pwa/public/images/1220333.jpeg
  apps/persianpart-pwa/public/images/1220359.jpeg
  apps/persianpart-pwa/public/images/1220360.jpeg
  apps/persianpart-pwa/public/images/1220378.jpeg
  apps/persianpart-pwa/public/images/1220398.jpeg
  apps/persianpart-pwa/public/images/1220408.jpeg
  apps/persianpart-pwa/public/images/1220415.jpeg
  apps/persianpart-pwa/public/images/1220416.jpeg
  apps/persianpart-pwa/public/images/1220440.jpeg
  apps/persianpart-pwa/public/images/1220464.jpeg
  apps/persianpart-pwa/public/images/1220534.jpeg
  apps/persianpart-pwa/public/images/1220534.jpg
  apps/persianpart-pwa/public/images/1220548.jpeg
  apps/persianpart-pwa/public/images/1220551.jpeg
  apps/persianpart-pwa/public/images/1220600.jpeg
  apps/persianpart-pwa/public/images/1220618.jpeg
  apps/persianpart-pwa/public/images/1220619.jpeg
  apps/persianpart-pwa/public/images/1220620.jpeg
  apps/persianpart-pwa/public/images/1220649.jpeg
  apps/persianpart-pwa/public/images/1220650.jpeg
  apps/persianpart-pwa/public/images/1220651.jpeg
  apps/persianpart-pwa/public/images/1220910.jpeg
Labels: apps, pwa

Add files via upload
  apps/1220525.jpeg
  apps/1220660.jpeg
  apps/1220662.jpeg
Labels: apps

Add files via upload
  apps/persianpart-pwa/public/images/1220661.jpeg
Labels: apps, pwa

Add files via upload
  apps/persianpart-pwa/public/images/1220433.jpeg
  apps/persianpart-pwa/public/images/1220545.jpeg
  apps/persianpart-pwa/public/images/1220659.jpeg
Labels: apps, pwa

Update client.ts
  apps/persianpart-pwa/src/client.ts
Labels: enhancement, apps, pwa

c
  apps/persianpart-api/src/libs/send-sms.ts
  apps/persianpart-api/src/routes/order.ts
Labels: enhancement, apps, api

c
  apps/persianpart-api/src/routes/order.ts
Labels: enhancement, apps, api

c
  .github/workflows/build.yml
Labels: none

c
  apps/persianpart-api/src/routes/order.ts
Labels: enhancement, apps, api

c
  apps/persianpart-api/src/routes/order.ts
Labels: enhancement, apps, api

Update order.ts
  apps/persianpart-api/src/routes/order.ts
Labels: enhancement, apps, api

c
  apps/persianpart-api/src/routes/order.ts
Labels: enhancement, apps, api

c
  apps/persianpart-api/src/libs/send-sms.ts
  apps/persianpart-api/src/routes/order.ts
Labels: enhancement, apps, api

c
  apps/persianpart-api/src/libs/send-sms.ts
  apps/persianpart-api/src/routes/order.ts
Labels: enhancement, apps, api

c
  apps/persianpart-api/src/libs/send-sms.ts
Labels: enhancement, apps, api

c
  apps/persianpart-api/src/libs/send-sms.ts
Labels: enhancement, apps, api

c
  apps/persianpart-api/src/libs/send-sms.ts
Labels: enhancement, apps, api

Update order.ts
  apps/persianpart-api/src/routes/order.ts
Labels: enhancement, apps, api

c
  apps/persianpart-pwa/public/apple-touch-icon.png
  apps/persianpart-pwa/public/favicon.ico
  apps/persianpart-pwa/public/icon-192-maskable.png
  apps/persianpart-pwa/public/icon-192.png
  apps/persianpart-pwa/public/icon-512-maskable.png
  apps/persianpart-pwa/public/icon-512.png
  apps/persianpart-pwa/src/ui/assets/persianpart.png
  apps/persianpart-pwa/vite.config.ts
Labels: enhancement, apps, pwa

.github/labeler.yml:

documentation:
  - any:
      - '**/*.md'

enhancement:
  - any:
      - '**/*.ts'

test:
  - any:
      - '**/*.spec.ts'

demo:
  - apps/demo/*
  - apps/demo/**/*

ui:
  - packages/ui/*
  - packages/ui/**/*
core:
  - packages/core/*
  - packages/core/**/*

apps:
  - apps/*
  - apps/**/*
  - apps/**/**/*
api:
  - apps/*-api/*
  - apps/*-api/**/*
pwa:
  - apps/*-pwa/*
  - apps/*-pwa/**/*
